:root {
  --color-white: #fff;
  --color-black: #000;
  --color-dark-grey:#10100e;
  --color-yellow: #fff000;
  --color-blue: #6a83fb;
  --color-violet: #ae72c2;
  --color-red: #f75d83;

  --border-radius-small: 3px ;
  --border-radius-medium: 5px ;

  --font-family-main: sans-serif ;
  --font-size-header: 26px;
  --font-size-subheader: 18px;
  --font-size-main: 16px;
  --font-bold: 600;

  --width-max: 1200px;

  --spacing-ultrasmall: 5px;
  --spacing-small: 10px;
  --spacing-medium: 20px;
  --spacing-large: 30px;
  --margin-list: 7px;

  --transition: 0.4s;

  --text-shadow-yellow: 
  0 0 2px var(--color-white),
  0 0 40px var(--color-yellow);

--text-shadow-blue: 
  0 0 2px var(--color-white),
  0 0 40px var(--color-blue);

--box-shadow-white:
  0 16px 24px 2px rgba(255, 255, 255, 0.02), 
  0 6px 30px 5px rgba(255, 255, 255, 0.04), 
  0 8px 10px -5px rgba(255, 255, 255, 0.1);

--box-shadow-black:
  0 16px 24px 2px rgba(0, 0, 0, 0.5), 
  0 6px 30px 5px rgba(0, 0, 0, 0.1), 
  0 8px 10px -5px rgba(0, 0, 0, 0.2);

  /* Themes */
  --theme-light-header: #dfe2df;
  --theme-dark-header: #ca6c6f;
  --theme-neutral-header: #cccc46;

  --theme-default-header: var(--theme-neutral-header);

  --theme-dark-bgimage: linear-gradient(to right bottom, #000000, #160b11, #20141e, #281b2e, #2b2440);
  --theme-light-bgimage: linear-gradient(to right bottom, #051937, #162454, #312d70, #533389, #7a359f);
  --theme-neutral-bgimage: url('@static/bg.jpg');


  --theme-default-bgimage: var(--theme-neutral-bgimage);
}

body {
  min-height: 100vh;
  font-family: var(--font-family-main);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-dark-grey);
  font-size: var(--font-size-main);
  background: top left / cover fixed no-repeat var(--theme-default-bgimage);
}

img {
  display: block;
}

*, *::after, *::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header__text{
  line-height: 1.7;
  font-size: var(--font-size-header);
  text-shadow: 0 0 2px var(--color-black);
  color: var(--theme-default-header) ;
  transition: color var(--transition) ease;
}

a {
  text-decoration: none;
  /* color: var(--color-yellow); */
}

ul li {
  list-style: none;
}